{% extends "base.html" %}
{% block maincontents %}
<div class="jumbotron">
  <h1 class="text-center"><div class="thumbnail"><small>安全信息统计分析系统</small></div></h1>
  <br>

<div class="row">
		<div class="col-xs-1 col-md-4">
		</div>
        <div class="col-xs-1 col-md-1">
        	<a class="btn btn-primary btn-lg" href="/index" role="button">详细记录</a>
        </div>
        <div class="col-xs-1 col-md-1">
        	<a class="btn btn-primary btn-lg" href="/source" role="button">来源统计</a>
        </div>
        <div class="col-xs-1 col-md-1">
        	<a class="btn btn-primary btn-lg" href="/month_count" role="button">月度统计</a>
        </div>
        <div class="col-xs-1 col-md-2">
        	<a class="btn btn-primary btn-lg" href="/classification" role="button">分类统计</a>
        </div>
  </p>
  
  </div>
  </div>

  <P class="text-right">如遇数据空白，请刷新页面，建议使用浏览器：360浏览器、QQ浏览器、搜狗浏览器</P>

</div>

{% endblock %}