{% extends "base.html" %}
{% block maincontents %}


<div class="container">


    <h1>安全信息查询</h1>


</div><!-- /.container -->

<div class="container-fluid">
    <table id="table" data-show-columns="true" data-pagination="true" data-page-size="15" data-page-list="[30,66,90,200]" data-show-pagination-switch="true" data-search="true">
    </table>
</div><!-- /.container -->

<script>
    var $table = $('#table');

    $(function () {
        
        data = {{ json_data | safe}};
        columns_set = {{ json_columns | safe }}

        $table.bootstrapTable({
            data: data,
            columns: columns_set,
        });

        $(window).resize(function () {
            $table.bootstrapTable('resetView', {
                height: getHeight()
            });
        });

    });

    function attachment(value) {
        var the_url;
        if (value == ""){
            return "无";
        }
        else{
            the_url = "/media/112233".replace("112233", value);
            return [
                '<a href="' + the_url + '" target="_blank">' + "查看" + '</a>'
            ].join('');
        }
    }
</script>

{% endblock %}