{% extends "base.html" %}
{% block maincontents %}
<div class="container-fluid">
    <div id="example" style="width:210px"></div>
</div><!-- /.container -->
<script>
var data = new Array();
data = {{ json_data | safe}};
var container = document.getElementById('example');
var hot = new Handsontable(container, {
  data: data,
  rowHeaders: true,
  colHeaders: ['责任人', '次数'],
  columns: [
      {data: '责任人'},
      {data: '次数'},
    ],
  dropdownMenu: ['filter_by_condition', 'filter_by_value', 'filter_action_bar'],
  readOnly: true,
  colWidths: [65, 65],
  filters: true,
  height: getHeight(),
  columnSorting: true,
});

function getHeight() {
        return $(window).height() - $('nav').outerHeight(true) * 2;
    }

</script>
{% endblock %}